 /* *{ seletores universal
 *{
	border:1px solid red;
}
/*Seletor de Classe
.verde{
	color: green;
}
/*todos paragrafos ficam verde
p.verde{
	/*color: green;
}
/*Seletor de filho "filho direto"
li>a{
	/*color: red;
	text-decoration: none;
}

/*seletor descendente de outro
p a{
/*	color: red ;
}
/* irmao adjacente
h1+p{
	color: red;
}
/* irmao geral
h1~p{
/*	color: pink;
}*/


/**Herança*/
/*body{
	color: red;
	border: 1px solid blue;
}*/

/****Especificidade*/
/*	color: green !important;
}

p{
	color: red;
}*/

/*quanto mais espcifico for seu seletor maior será
a precedencia dele*/

*{
	color: red;
}
h2{
	color: blue;
}

h2.verde{
	color: green;
}
h2#amarelo{
	color: yellow;
}